@for $i from 1 through 100 {
  .char#{$i} {
    transform: (rotate(($i * 6) + deg));
  }
}

.SwitchThemeButton {
  aspect-ratio: 1 / 1;
  width: 50px !important;
  border-radius: var(--rounded-full);
  background-color: var(--body-background);
  overflow: hidden;

  &Content {
    position: relative;
  }

  &IconsWheel {
    top: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: var(--rounded-full);

    transition: all 600ms cubic-bezier(0.47, 1.64, 0.41, 0.8);

    & svg {
      position: absolute;
      transform: translate(-50%, -50%);
      color: var(--color-primary-12);
    }

    & svg[id="1"] {
      top: 0;
      left: 50%;
    }

    & svg[id="2"] {
      bottom: 0;
      left: 50%;
      transform: scale(-1) translate(50%, -50%);
    }
  }
}
