.LoginButton {
  border: 1px solid var(--color-primary-12);
  color: var(--color-primary-12);
  border-radius: var(--rounded-lg);
  background-color: transparent;

  &:not(:disabled):hover {
    background-color: var(--color-primary-12);
    color: var(--color-primary-3);
  }
}

.LoginDialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 101;
}

.LoginDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 102;
}
.LoginDialogContent:focus {
  outline: none;
}

.LoginDialogTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: 64px;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  margin: 0;
  color: #202020;
  font-size: 17px;
  font-weight: bold;
}

.LoginDialogClose {
  all: unset;
  color: #202020;
  position: absolute;
  top: 24px;
  left: 24px;
  cursor: pointer;

  & span {
    position: relative;
  }
  &:hover::before {
    background-color: #ebebeb;
  }

  &::before {
    content: "";
    transition: all 200ms var(--transition-basic);
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;

    border-radius: var(--rounded-full);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.CloseIcon {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 3;
  overflow: visible;
}

.LoginDialogDescription {
  color: #202020;
  font-size: 15px;
  line-height: 1.5;
  padding: 1.5rem;
  --input-label-background: white;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
