.Container {
  background-color: var(--indigo-1);
  padding: 1rem;
  border-radius: var(--rounded-lg);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: max-content;
}

.UnprovisionedOntsLisItem {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.LoadingCommand {
  position: relative;
  width: 220px;
}

.CommandLineResult {
  list-style: none;
}
